
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

  /* font-family: "Inter", */

  /* font-family: "Merriweather" */

  /* Header Section */

  *{
    margin: 5px;
    padding: 5px;
  }

  .BannerSection{
    background-image: url("../images/Banner\ Image.png");
    border-radius: 10px;
    height:650px;
    background-repeat: no-repeat;
      display: flex;
  justify-content: center;
  align-items: center;

  }


  .BannerDiv{
    text-align: center;
  font-size: 24px;
  font-weight: bold;

  }

.BannerHead{
   font-family: "Merriweather";
       color: white;
   font-weight: 600;
   font-size: 30px;
margin-bottom: 15px;
}

.BannerHeading{
         font-family: "Merriweather";
       color: white;
   font-weight: bold;
   font-size: 65px;
   margin-top: -25px;
   margin-bottom: 50px;
}

.NewSection{
    text-align: center;
}
.newHeadNumber{
    color: #FF0000;
      font-family: "Inter";
      font-size: 70px;
      font-weight: bold;
}

.newpg{
   color: #FF0000;
      font-family: "Inter";
      font-size: 20px;
      font-weight:600;
}

.newHead{
    color: #070211;
      font-family: "Inter";
      font-size: 40px;
      font-weight:bold;
}

/* PartySection ---------------------------------*/
.PartySectionFlex{
    display: flex;
    justify-content: space-between;
}
.PartySection{
    background-image: url("../images/Vectorrr.png");
        border-radius: 10px;
    height:650px;
    background-repeat: no-repeat;
display: flex;
  justify-content: center;
  align-items: center;
}

.partyHead{
    font-family: "Merriweather";
    color: white;
   font-weight: bold;
   font-size: 65px;
}

.PartyPg{
    opacity: 70%;
    color: #FFFFFF;
       font-family: "Inter";
      font-size: 18px;
      font-weight:700;
}

.partyBtn{
    
       font-family: "Inter";
      font-size: 18px;
      font-weight:bold;
      border-radius: 5px;
           border: none;
}

.TimeSection{
    text-align: center;
  background-image: linear-gradient(to top, rgba(240, 226, 226, 0), rgb(252, 213, 210));
  border-radius: 10px;
  padding: 25px;
}

.redColor{
    color: #FF0000;
}

.timeHeading{
        font-family: "Inter";
      font-size: 30px;
      font-weight:700;
}
.textBtn{
    background-color: #FF0000;
    color: #FFFFFF;
      font-family: "Inter";
      font-size: 20px;
      font-weight:bold;
      padding: 10px;
        border-radius: 10px;
        border: none;
    }

.mainSection{
  margin-top: 50px;
    display: flex;
  gap:140px;
  justify-content: center;
}
.mainOffer{
    color: #FF0000;
          font-family: "Inter";
      font-size: 20px;
      font-weight:500;
}
.mainSoon{
        font-family: "Merriweather";

   font-weight: bold;
   font-size: 45px;
}
.mainpg{
    opacity: 70%;
         font-family: "Inter";
      font-size: 15px;
      font-weight:700;
}
    .img{
        border: 8px solid red;
        border-radius: 50%;
        width: 300px;
        height: 300px;
    
    }
.year{
    color: #FF0000;
         font-family: "Inter";
      font-size: 45px;
      font-weight:bold;
}



/* Functional Section---------------- */
.MainFunctional{
  text-align: center;
}
.FunctionalText{
     font-family: "Inter";
      font-size: 20px;
      font-weight:500;
}
.FunctionalHeading{
    
        font-family: "Inter";
   font-weight: bold;
   font-size: 45px;
}
.imgFlexSection{
  display: flex;

}

.BgColor{

   position: relative;

}

.background{
    
   margin-top: -200px;
  bottom: 0;
  left: 0;
  width: 150%;
  height: 130px; 
    background-image: url("../images/Rectangle\ 2.png");
    border-radius: 10px;
    
}


/* best Section------------------- */
.bestHead{
  color: #FF0000;
      font-family: "Inter";
      font-size: 20px;
      font-weight:500;
}
.bestSection, .gridImg, img{
 width: 99%;

}
.gridImg{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
gap: 10px;

}

/* Footer section-------------- */

.img61{
  width: 10%;
  height: 10%;
}
.subscribeSection{
  text-align: center;
  background-color: rgb(253, 229, 228);
  border-radius: 10px;
  padding: 10px;
}
.subscribeText{
        font-family: "Merriweather";

   font-weight: bold;
   font-size: 45px;
}


.Input{
  width: 30%;
  height: 30px;
  border-radius: 10px;
}

.SubscribeBtn{
  background-color: #FF0000;
  color: #FFFFFF;
 width: 90px;
  height: 45px;
  border-radius: 10px;
}

.footerSection{
  background-color: black;
  margin-top: 50px;
padding: 30px;
 
  color: #FFFFFF;
}

.footerSectionDiv{
  display: flex;
  justify-content: space-around;
}

.footerIcon{
  width: 35px;
  display: flex;
margin-left:550px;
  align-items: center;
 
}

.footerText{
  display: flex;
  justify-content: space-around;
}